body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
#_idContainer000 {
	height:100.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer001 {
	height:100.00%;
	left:12.50%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:75.00%;
	z-index:1;
}
#_idContainer002 {
	display:inline-block;
	padding:439.24% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
img._idGenObjectAttribute-1 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#86bc25;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
